.App {
  background: rgb(75, 191, 107);
  height: 100vh;
  overflow: hidden;
}

.Header {
  background: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}

.chatbody {
  border-radius: 15px;
  border: 2px solid;
  background-color: white;
  position: absolute;
  bottom: 3px;
  padding-bottom: 20px;
  left: 75%;
  right: 5px;
  display: flex;
  width: 340px;
  height: 60%;
  z-index: 109;
}

iframe {
  border-radius: 10px;
  width: 340px;
  iframe: 100;
}
